@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  margin: 0px;
  width: 100vw;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: black;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.keyring-container {
  margin: auto;
  height: 500px;
}

.divider {
    height: 2px;
    background-color: #ffffff;
    width: 60%;
    margin: 20px auto;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.titleimg {
    width: 80%;
margin: auto;    
}

.container {
    text-align: center;
}

.container {
    
}
