@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    padding:0px;
    margin:0px;
    width:100vw;
    height:5000px;
    overflow: scroll;
    font-family: "acumin-pro", sans-serif;
font-weight: 700;
font-style: normal;
}



#entrycontainer{
	margin: 0 auto; /* Center the div */
 background-color: #fff;
	width: 100%;
  text-align: center;

	
}
